/.anaconda
/.conda
/.condarc
/.continuum
/.ipython
/.matplotlib
/.vscode
/anaconda3
/AppData
/Contacts
/Desktop
/Documents
/Downloads
/Favorites
/Links
/Music
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf
/NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/OneDrive
/Pictures
/Saved Games
/Searches
/source
/Videos
/SynologyDrive
/Local Settings
/My Documents
/Cookies
/NetHood
/PrintHood
/Application Data
/Recent
/SendTo
/Templates
/시작 메뉴